PORT=3000
DB_HOST=localhost
DB_USER=user
DB_PASSWORD=p4$$w0rd
DB_NAME=nest_db_template
DB_PORT=5432
DATABASE_URL="postgresql://user:p4$$w0rd@localhost:5432/nest_db_template?schema=public"
DB_PROVIDER="postgresql"

NODE_ENV=development
SHOW_STACK_TRACE=true
PROVIDER_STORAGE_CODE=local

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d

EMAIL_HOST=gmail
EMAIL_FROM=NEST_APP@mail.com
EMAIL_PORT=587
EMAIL_USER=your email
EMAIL_PASSWORD=your password
EMAIL_SECRET=your secret

SONAR_TOKEN=your_sonar_token